/*//////// AUTHOR & APPLICATION INFORMATION //////////////////////////
//
//   Author: Chris Sergent
//   Date:   January 6, 2014
//   Application: GIS Mobile
//
////////////////////////////////////////////////////////////////////*/
/* Validate your CSS files at: http://jigsaw.w3.org/css-validator/#validate_by_upload */
/* External Styles */
/* WARNING: You will need to update this reference if you use a different API. */
@import url("http://js.arcgis.com/3.12/dijit/themes/soria/soria.css");
@import url("http://js.arcgis.com/3.12/esri/css/esri.css");

/*//////// Gutter Handler ////////////////////////////////////////////
// 
//      Handles the gutters in the browsers default padding by 
//      by removing the padding
// 
////////////////////////////////////////////////////////////////////*/

/*//////// Gutter Handler ////////////////////////////////////////////
// 
//      Handles the gutters in the browsers default padding by 
//      by removing the padding
// 
////////////////////////////////////////////////////////////////////*/

/*************************************** 
|
|       HTML ELEMENTS BEGIN
|
***************************************/
/*---------------------------------
|       PAGE AND BODY
/--------------------------------*/

html, body
{
    /* make the body expand to fill the visible window */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    /* erase window level scrollbars */
    overflow: hidden
}

/*---------------------------------
|       HEADINGS
/--------------------------------*/
h1, h2, h3
{
    margin:05em 0 1em 0
}

/*---------------------------------
|       PARAGRAPHS
/--------------------------------*/
p
{
    margin:00 1em 0
}

/*************************************** 
|
|       HTML ELEMENTS END
|
***************************************/

/*......................................
|
|       HTML CLASSES BEGIN
|
.......................................*/

    /* We have no classes yet */

/*......................................
|
|       HTML CLASSES END
|
.......................................*/

/*######################################
|
|       HTML TAGS BEGIN
|
#######################################*/
/*---------------------------------
|       MAP
/--------------------------------*/

#mapSection
{
    position:absolute;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    background-color:White;
    color:Black;
    z-index:0;
    display:block
      
}


/*----------------------------------
|       TOOLS
/---------------------------------*/
#homeButton
{
    position:absolute;
    top:95px;
    left:20px;
    z-index:50;
}

/* Scalebar style begin */
/* Used CSS Gradient Generator - http://www.colorzilla.com/gradient-editor/ */
.esriScalebarLine, .esriScalebarMetricLine
{
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(5,5,5,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(247,247,247,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(5,5,5,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(5,5,5,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(5,5,5,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(5,5,5,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(247,247,247,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(5,5,5,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#050505',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-width:thin;
}

.esriScalebarLabel, .esriScalebarLineLabel,.esriScalebarSecondNumber, .esriScaleLabelDiv
{
    text-shadow:-1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
               
}
/* Scalebar style end */

/* Measurement tool style begin */
#titlePane
{
    
    width:auto;
    position:absolute;
    left:30%;
    bottom:0%;
    background-color:White;
    border-color:Black;
    z-index:50;
}
.soria  .dijitTitlePaneTitle {
    background: #fff;
    font-weight:600;
    border: none;
    border-bottom:solid 1px #29201A;
    border-top:solid 1px #29201A;
}
           
.soria .dijitTitlePaneTitleHover
{
    background:#eee;
}
           
.soria .dijitTitlePaneTitleActive
{
    background:#808775;
}
           
.soria .dijitTitlePaneContentOuter
{
    border-right: none;
    border-bottom: none;
    border-left: none;
}
            
/* Measurement tool style end */


/*######################################
|
|       HTML TAGS END
|
#######################################*/